<div class="dashboard-container">
    <!-- Card for Page Views -->
    <div class="card">
        <h3 class="title">Page Views</h3>
        <div style="display: block;">
            <canvas baseChart data="pageViewsData" options="pageViewsOptions" chartType="doughnut">
        </canvas>
        </div>
    </div>

    <!-- Card for MRR -->
    <div class="card">
        <h3 class="title">MRR</h3>
        <div style="display: block;">
            <canvas baseChart data="mrrData" options="mrrOptions" chartType="bar">
        </canvas>
        </div>
    </div>
</div>